body{
    margin: 0;
    padding: 0;
}

/* header styles */

.menu_nav{
    width: 100%;
    background-color: rgb(52, 156, 83);
    height: 8vh;
    position: fixed;
}

.menu_nav_list{
    margin: 0 0 0 5%;
    height: 100%;
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-between;
}

.menu_nav_list_li{
    width: 25%;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}


.menu_nav_list_li:hover{
    background-color: rgb(63, 177, 97);
}

.menu_nav_list_link{
    text-decoration: none;
    color: white;
}

.header_bottom{
    height: 100vh;
    background: url(../img/header_background_img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(64, 102, 64, 0.884);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    font-size: 110%;
}

.header_title_block, .header_info_block{
    width: 50%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header_title, .header_info{
    color: white;
    width: 70%;
}

/* main styles */

main{
    width: 90%;
    margin: 0 auto;
}

.info_block__container{
    display: flex;
    flex-wrap: wrap;
}

.info_block_stack{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.info_block{
    min-width: 250px;
    max-width: 350px;
    margin: 10vh auto 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 100%;
    height: 50vh;
    overflow: hidden;
}

.info_block__text_block, .info_block__img_block{
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.info_block__img_block{
    width: 30%;
}

.info_block__text_block{
    background-color: rgb(44, 165, 84);
    color: white;
    width: 60%;
}

.info_block__text_block:hover .info_block__text{
    transform: scale(1.2);
}

.info_block__text{
    width: 70%;
    transition: 1s;
}

.info_block__img{
    max-height: 100%;
    max-width: 100%;
}

.info_block:last-child .info_block__img_block{
    order:1
} 
.info_block:last-child .info_block__text_block{
    order:2
}

/* footer styles */

.map_block{
    margin-top: 10vh;
    width: 100%;
}

.map{
    width: 100%;
    height:70vh;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: rgb(26, 94, 47);
    color: white;
}

.footer_container{
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
}

.footer_info, .footer_nav, .footer_contacts{
    width: 30%;
}

.footer_block_container{
    width: 70%;
    margin: 0 auto;
}

.footer_info_brief_info{
    margin-bottom: 0;
}

.footer_nav_menu{
    list-style-type: none;
    padding-left: 0;
}

.footer_nav_menu_li{
    transition: 0.4s;
}

.footer_nav_menu_li:hover{
    transform: scale(1.2);
}

.bottom_menu__link{
    color: white;
    font-size: large;
}

.footer_contacts_email{
    width: 70%;
    height: 20px;
    border: none;
    border-bottom: 4px solid white;
    background-color: transparent;
    transition: 0.3s;
    color: white;
}

.footer_contacts_email:hover{
    width: 80%;
}

.footer_contacts_email:focus{
    width: 100%;
    background-color: transparent;
}

.footer_contacts_button{
    background-color: white;
    border: 2px solid transparent;
    color: rgb(26, 94, 47);
    padding: 3% 8%;
    transition: 0.3s;
}

.footer_contacts_button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}

.social_media_block{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.social_media_link{
    transition: 0.3s;
}

.social_media_link:hover{
    transform: scale(1.15);
}

.social_media_link_img{
    width: 70%;
}
