$textColor: invert(black);
$buttonBgColor: rgb(7, 139, 25);
$buttonColor: white;
$mainBlockWidth: (100%/2.5);

@import './card';

@mixin buttonHover{
    background-color: transparent;
    border-color: $buttonBgColor;
}

body{
    margin: 0;
    padding: 0;
}

.main_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(108, 151, 245);
}

.main_block{
    width: $mainBlockWidth;

    a{
        display: inline-block;
        background-color: $buttonBgColor;
        color: $buttonColor;
        padding: 2% 5%;
        margin: 5%;
        text-decoration: none;
        transition: 0.3s;
        border: 2px solid transparent;

        &:hover{
            @include buttonHover();
        }
    }
}


.main_block__title{
    color: $textColor;
}

.main_block__subtitle{
    color: $textColor;
}

.main_block__description{
    color: $textColor;
}

.img_block{
    width: $mainBlockWidth;
}

.img_block__img{
    width: 100%;
}

.card_container{
    @extend .card_container;
}

.card{
    @extend .card;
}